__pycache__/
.ipynb_checkpoints/
.ipynb_checkpoints

cosmic_flag_rfi_kurtosis.egg-info/
cosmic_cricket.egg-info/
cricket.egg-info/
cricket.egg-info
crickets.egg-info
dist/
dist
pyproject.toml

cricket/requirements.txt
cricket/anothertest.py.py
cricket/requirements.txt
cricket/say_hi.py
cricket/test.py